{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            YALEN COMMERCIAL ADVENTURES
        </div>
        <div class="links">
            <ul>
                    <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'users' %}">Users</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Prod. Image</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.product_image }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a href="{% url 'update_product' product.id %}" class="update">Update</a>
                            <a href="{% url 'delete_product' product.id %}" class="delete">Delete</a>
                            <a href="{% url 'product_detail' product.id %}" class="viewdetails">View Detail</a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <a href="#" class="prev">Previous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="next">Next</a><br><br>
                <div class="page-count">Total pages: 3</div><br><br>
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </div><br><br>
    <a href="{% url 'add_product' %}" class="adding">Add New Product</a><br><br><br><br>
    <div class="footer">
        <div class="copyright">
            &copy; 2024 Yalen Commercial Adventures. All rights reserved.
        </div>
    </div>
</body>
</html>