{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addproduct</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-box">
        <h2>Add New Product</h2>
        <form method="post" action="{% url 's_products' %}" id="addUserForm">
            <label for="product-id">Product ID:</label>
            <input type="text" id="product-id" name="product-id" required>
            <br><br>
            <label for="product-name">Product Name:</label>
            <input type="text" id="product-name" name="product-name" required>
            <br><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <br><br>
            <label for="price">Price:</label>
            <input type="numeric" id="price" name="price" required>
            <br><br>
            <input type="submit" value="Save in Products">
            <a href="{% url 'seller_dashboard' %}">Cancel</a>
        </form><br><br>
        <!-- <div id="errorMessages"></div>
        <div id="successMessage"></div> -->
    </div>
    <div class="footer">
        &copy; 2024 Yalen Commercial Adventures. All rights reserved.
    </div>
</body>
</html>